@page
@model WebForm.Pages.Pages.QuanLyTourModel
@{
    ViewData["Title"] = "Website Quản Lý Tour";
    Layout = "_Layout";

}
@using BUS;
@using DTO;
@{
    List<TourDTO> list = new List<TourDTO>();
    List<LoaiTourDTO> listloai = new List<LoaiTourDTO>();
    TourBUS bus = new TourBUS();
    LoaiTourBUS busloai = new LoaiTourBUS();
    list = bus.List();
    listloai = busloai.List();
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Danh sách Tour</h4>
                        <form class="form-inline">
                            <button type="button" class="btn btn-primary mb-2" onclick="btnclick()">
                                Thêm
                            </button>
                            <input type="text" class="form-control mb-2 mr-sm-2" style="margin-left:" id="inlineFormInputName2" placeholder="Tên Tour">
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Mã Tour</th>
                                        <th>Tên Tour</th>
                                        <th>Mô Tả</th>
                                        <th>Loại Tour</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (TourDTO item in list)
                                        {
                                            string tenloai = listloai.Find(x => x.Id_Loai.Equals(item.Id_Loai)).Ten_Loai;
                                            <tr>
                                                <td>@item.Id_Tour</td>
                                                <td>@item.Ten_Tour</td>
                                                <td>@item.Dacdiem_Tour</td>
                                                <td>@tenloai</td>
                                                <td>
                                                    <button type="button" class="btn btn-warning">Sửa</button>
                                                    <button type="button" class="btn btn-danger">Xóa</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Form thêm -->
<asp:Content ID="Content2" ContentPlaceHolderID="ControlsSection" runat="server">
    <asp:UpdatePanel ID="Update" runat="server" UpdateMode="Always">
        <ContentTemplate>
            <div class="control">
                <ej:Button ID="btnOpen" Type="Button" Text="Click to open dialog" ClientSideOnClick="btnclick" CssClass="e-btn" runat="server"></ej:Button>
                <ej:Dialog ID="lognForm" Title="Login Form" Containment=".control" ClientSideOnClose="onDialogClose" IsResponsive="True" Width="300px" EnableModal="true" EnableResize="false" runat="server">
                    <DialogContent>
                        <table>
                            <tr>
                                <td>
                                    <p style="margin-top: 5px;">
                                        Please enter your username and password
                                    <p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Username
                                    <p class="reqired">*</p>
                                    <input type="text" id="txtName" name="txtName" class="ejinputtext" style="width: 100%" required /><br />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Password
                                    <p class="reqired">*</p>
                                    <input type="password" id="txtPassword" name="txtPassword" class="ejinputtext" style="width: 100%" required />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" id="txtRember" class="ejinputtext" required />
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <br />
                                    <ej:Button ID="downloadBtn" Text="LOGIN" CssClass="e-btn" Width="100px" Height="30px" runat="server" Size="Medium" Type="Button" ClientSideOnClick="formsubmit"></ej:Button>
                                    <label class="error" for="btn"></label>
                                </td>
                            </tr>
                        </table>
                    </DialogContent>
                </ej:Dialog>
            </div>
        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="StyleSection" runat="server">
    <style type="text/css">
        #LayoutSection_maincontrolarea {
            padding: 0;
        }

        label.error {
            color: red;
        }

        .control {
            height: 500px;
            position: relative;
        }

        .htmljssamplebrowser.material .control {
            height: 600px;
        }

        input {
            height: 25px;
            margin-bottom: 10px;
        }

        .downloadBtn {
            margin-top: 2px;
        }

        #ejtxtRember {
            margin-top: 5px;
        }

        .reqired {
            margin: 0 0 3px 0;
            color: red;
            display: inline-block;
        }

        .e-btn.e-button.e-js {
            border: none;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $("#txtRember").ejCheckBox({ text: "Remember me" });
            $("#Form1").validate({
                rules: {
                    txtPassword: "required",
                    txtName: "required"
                },
                messages: {
                    txtName: { required: "Please enter user name" },
                    txtPassword: { required: "Please enter password" }
                }
            })
        })
        function formsubmit() {
            $("#Form1").valid();
        }
        function coupeClick() {
            $("#r8Coupe").ejDialog("open");
        }
        function spyderClick() {
            $("#r8Spyder").ejDialog("open");
        }
        function onDialogClose(args) {
            $("#LayoutSection_ControlsSection_btnOpen").show();
        }
        function btnclick() {
            var dialogObj = $("#LayoutSection_ControlsSection_lognForm").data("ejDialog");
            dialogObj.open();
            $("#LayoutSection_ControlsSection_btnOpen").hide();
        }
    </script>
</asp:Content>