@page
@model WebForm.Pages.Shared.QuanLyPhanCong_ThemModel
@{
    ViewData["Title"] = "Website Quản Lý Tour";
    Layout = "_Layout";
}
@using BUS;
@{
    PhanCongBUS bus = new PhanCongBUS();
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thêm Phân Công</h4>
                        <form class="forms-sample">
                            <div class="form-group">
                                <label for="exampleInputName1">Mã Đoàn</label>
                                <input type="text" class="form-control" asp-for="phancong.Id_Doan"
                                       placeholder="Mã Đoàn" readonly>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Mã Nhân Viên</label>
                                <input type="text" class="form-control" asp-for="phancong.Id_NV" 
                                       placeholder="Mã Nhân Viên" readonly>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Nhiệm vụ</label>
                                <input type="text" class="form-control" asp-for="phancong.Nhiemvu" placeholder="Nhiệm vụ">
                            </div>
                            <input type="submit" value="Thêm" asp-page-handler="AddPhanCong" class="btn btn-primary mr-2" />
                            <button class="btn btn-light">Hủy</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>